{% extends 'main/layout.html' %}
{% load static %}
{% block title %} Список бойцов{% endblock %}

{% block content %}
<br>
<center>
<h1 class="display-3">Бойцы BFA</h1>
</center>
  <br>

     {% for el in page_obj %}
<div class="container">
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ el.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <br>
        <CENTER>
          <h3 class="text-muted">"{{ el.username }}"</h3>
       <h2> {{ el.name }} </h2>
             <span class="text-muted"> {{ el.type_education }} вес </span>
        <BR>
        <span class="text-muted"> {{ el.stats }}   </span>
          <br>
          <br>
          <a class="btn btn-primary" href="{% url 'stats' el.id %}" role="button">Карточка бойца</a>
        </CENTER>

      </div>
    </div>

  </div>

</div>
    </div>
       {% endfor %}
<div class="container">
<center>
    <div class="btn-group mr-2">

        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-secondary">{{ page_obj.previous_page_number }}</a>
            <a href="" class="btn btn-outline-info">{{ page_obj.number }}</a>
        {% else %}

            <a href="" class="btn btn-outline-info">1</a>
        {% endif %}



        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">{{ page_obj.next_page_number }}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">last &raquo;</a>
        {% endif %}

    </span>
</div>

</div>

<br>
</center>
{% endblock %}